# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# macOS .DS_Store
.DS_Store
*/.DS_Store 

# .vscode config
.vscode/

# macOS C++ application
application/cpp/application
application/cpp/application.dSYM

# Python
*.py[cod]